$white: #FFF;
$gray: #F6F6F7;
$darkgray: #E1E8ED;
$green: red;
$lightgreen: red;

html,
body {
    height: 100%;
    // background-color: #032536;
    background: $gray;
    font-weight: 100;
}

.title {
    margin-top: .5em;
    font-size: 1.5em;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-title {
    display: block;
    width: 200px;
    height: 160px;
    float: left;
    text-align: center;
}

.list-title div {
    display: table-cell;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}

.click-to-input {
    line-height: 1.2em;
}

.board {
    height: 100%;
    // margin: 1em;
    // padding: 1em;
    // border-radius: 3px;
    // background-color: #6e92a1;
}

.header {
    padding: 1em;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.ul {
    padding-left: 0;
    list-style: none;
    .ul li {
      float: left;
    }

}


.list {
    display: block;
    height: 300px;
    margin: 1em;
    padding: 1em;
    border-radius: 3px;
    // background-color: #477186;
    background: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    list-style: none;

    &:not(.add-new) {
        cursor: move;
    }
}

.postit {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 1em;
    padding: .5em;
    border-radius: 3px;
    border: 1px solid $darkgray;
    // background-color: #032536;\
    background: $green;
    // color: #6e92a1;
    color: #303030;
    list-style: none;

    &:not(.add-new) {
        cursor: move;
    }

    &:first-child {
        margin-top: 0;
    }
}

.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    span {

    }

}

.button-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #032536;
    text-align: center;
}

.button {
    margin: .5em;
    background-color: transparent;
    line-height: 2em;
    padding: 0 10px;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }

    .board & {
        border: 1px solid $lightgreen;
        color: $lightgreen;
    }

    .list & {
        border: 1px dashed #6e92a1;
    }
}

.button-add {

    &::before {
        content: '+ ';
  }
}

.button-delete {
    color: #d4a76a;

    &::before {
        content: 'x ';
  }
}

.input-text {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(255, 0, 0, .05);
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.input-textarea {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(255, 0, 0, .05);
    resize: none;

    &:focus {
        outline: none;
    }
}

.click-to-input {

    &:hover {
        background-color: rgba(255, 255, 255, .1);
        cursor: text;
    }
}

.dragging,
.dropping {
    box-shadow: 0 0 10px 2px lighten(yellow, 30%);
}

.toggled-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: rgba(255, 255, 255, .3);
    z-index: 10000;
}

.button-collapse {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2em;
}

.toggled {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
